body {
  background-color: black;
}
h1,
h2 {
  color: lightgray;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 200px;
  width: 200px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.board__field {
  background-color: gray;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
